
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.container{
    position: relative;
}
.header{
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 935px;
    background-color: #191718;
}
.passion{
    position: absolute;
    top: 0;
    right: 0;
    w
}