

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.container{
    position: relative;
    min-width: 1918px;
}
.header{
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 935px;
    background-color: #191718;
}
.passion{
    position: absolute;
    top: 0;
    right: 0;
    max-width: 1768px;
    max-height: 935px;
    background-color: #FFFFFF;
}

.header h6{
    color:#AAAAAA;
    width: 43px;
    height: 19px;
    margin: 14px 0 11px 16px;
    border-bottom: solid 1px #FFFFFF;
}
.header h6:nth-child(1){
    color: #FFFFFF;
}
.header h6:nth-child(3){
    color: #FFFFFF;
}

.passion img{
    width: 310px;
    height: 122px;
}
.passion .logo img{
    margin-top: 20px;
    margin-left: 729px;
    margin-bottom: 30px;
}

.passion .description{
    background-color:#EFEFEF;
    width: 1510px;
    height: 210px;
    margin-left: 129px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.passion .description h2{
    margin-top: 38px;
    
}
.passion .description p{
    width: 972px;
    height: 95px;
    margin-top: 18px;
    margin-bottom: 38px;
}
.passion .content{
    height: 252px;
    margin-left: 129px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.passion .content h3{
    size: 24px;
    line-height: 28px;
    font-weight: bold;;
}
.passion .content .group{
    height: 252px;
    width: 470px;
}
.passion .content .group .text{
  display: flex;
}
.passion .content .text img{
    height: 128px;
    width: 128px;
}
.passion .copy{
    position: absolute;
    left: 0;
    bottom: 0;
    height: 79px;
    
}
